<div class="center hero-unit">
  <h1>Welcome to Intranet Application</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
</div>

<%= render 'shared/shared_documents' %>